<section class="custom-heading">
  <h1>{{ section.settings.heading_text }}</h1>
</section>

{% schema %}
{
  "name": "Custom Heading",
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "Hello azeem"
    }
  ],
  "presets": [
    {
      "name": "Custom azeem"
    }
  ]
}
{% endschema %}